extends layout

img(src="images/SPLogo.png")
block content
	header
		container(id="branding")
				img(src="images/SPLogo2.png")
				nav
					ul  
						li
							a(href='/Soundboard')
								|  Soundboard
						li
							a(href='/journal')
								|  Journal
						li
							a(href='/signout')
								|  Logout		
	br
	br
	br
	br					
	div.container(id="profile")
		div.row
			h1 #{user.username}
				div(id="panel-body")
		div.row
			img(src="http://www.hbc333.com/data/out/190/47199326-profile-pictures.png")
		div.row
			table
				tr
					td Email:
					td #{user.email}
		br