doctype html
html(ng-app="sbApp")
  head
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
    script(src="javascripts/app.js" type="text/javascript")
    script(src="javascripts/audiodisplay.js" type="text/javascript")
    script(src="javascripts/recorderjs/recorder.js" type="text/javascript")
    script(src="javascripts/main.js" type="text/javascript")
    link(rel='stylesheet', href='/stylesheets/mycss.css')
  body
  header
    div
    container(id="branding")
        h1 SoundPanel 
            nav
                ul
                    li
                        a(href='/Home')
                            |  Profile
                    li
                        a(href='/Soundboard')
                            |  Soundboard
                    li
                        a(href='/journal')
                            |  Journal
                    li
                        a(href='/signout')
                            |  Sign out
    block content